
.container {
  display: flex;
  height: 100vh;
}

.chatList {
  width: 300px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.chatThread {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messageInput {
  border-top: 1px solid #ddd;
}
.h1{
  margin-left: 400px;
}
.search{
  margin-left:300px ;
}

body {
  transition: background-color 0.5s, color 0.5s;
}

/* Light mode styles */
body.light-mode {
  background-color: white;
   color: black; 
}

/* Dark mode styles */
body.dark-mode {
  background-color: black;
  color: white; 
}
/* App.css */
.app {
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: #333; /* Dark background color */
  color: black; /* White text color */
}
/* App.css */

/* .app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0;
}

.h1 {
  flex-grow: 1;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .title-dark {
  color: #ffffff;
}

.dark-mode .MuiPaper-root {
  background-color: #333;
}

.dark-mode .MuiListItemText-primary {
  color: #ffffff;
}

.dark-mode .MuiListItemText-secondary {
  color: #cccccc;
} */

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .container {
    padding: 0 10px;
  }
}
